@model EDeviceClaims.WebUi.Models.DeviceViewModel

<h1>
  <em>@Model.Name</em> Details
</h1>

<p>
  <strong>Policy #: </strong>
  <span class="col-lg-offset-0">@Model.PolicyNumber</span>
</p>
<p>
  <strong>Serial #: </strong>
  <span class="col-lg-offset-0">@Model.SerialNumber</span>
</p>

@if (Model.HasPendingClaim)
{
  @Html.ActionLink("Check Claim Details", "Details", "Claim", routeValues: new { id = Model.PolicyId }, htmlAttributes: new { @class = "btn btn-warning btn-sm" })
}
else
{
  @Html.ActionLink("Start a Claim", "Start", "Claim", routeValues: new { id = Model.PolicyId }, htmlAttributes: new { @class = "btn btn-danger btn-sm" })
}

